.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-button {
  background-color: white;
  color: #282c34;
  height: 10vh;
  padding: 10px;
  font-size: 20px;
  border: 1px blue;
}

.Movie-button:hover {
  background-color: #282c34;
  color: white;
}

.Movie-link {
  text-decoration: none;
  color: white;
  display: block;
  margin: 2vh;
}

.Movie-link:hover {
  color: #61dafb;
}